<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
{% block content %}
<h2>Courses</h2>
<a href="{% url 'course-create' %}">Create New Course</a>
<ul>
    {% for course in courses %}
        <li>
            <a href="{% url 'course-detail' course.id %}">{{ course.title }}</a>
            <a href="{% url 'enroll-course' course.id %}">Enroll</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}

</body>
</html>